<html>
<head>
<title>SA | Ruang</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
table {
	border: 1px solid black;
	padding: 20px
}

td, th {
	text-align: left;
}

h1 {
	text-align: center;
	text-decoration: underline;
}
</style>
</head>
<body>
	<h1>Sistem Akademik</h1>
	<form th:action="@{/ruang/simpanRuang}" method="post">
		<table>
			<h2>Form Ruang</h2>
			<tr>
				<td>Kode Ruang</td>
				<td>:</td>
				<td><input type="text" size="10" name="kdRuang"></td>
			</tr>
			<tr>
				<td>Nama Ruang</td>
				<td>:</td>
				<td><input type="text" size="25" name="nmRuang"></td>
			</tr>
			<tr>
				<td>Kapasitas</td>
				<td>:</td>
				<td><input type="text" size="10" name="kapasitas"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"> <input
					type="reset" value="Reset"></td>
			</tr>
		</table>
		<p></p>
		<tr>
		</tr>
	</form>
	<button onclick="window.location.href='/fakultas/daftarFakultas'">Daftar
		Fakultas</button>
</body>
</html>