<html>
<head>
<title>SA | Matakuliah</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
table {
	border: 1px solid black;
	padding: 20px
}

td, th {
	text-align: left;
}

h1 {
	text-align: center;
	text-decoration: underline;
}
</style>
</head>
<body>
	<h1>Sistem Akademik</h1>
	<form th:action="@{/matakuliah/simpanMatakuliah}" method="post">
		<table>
			<h2>Edit Matakuliah</h2>
			<input type="hidden" name="id" th:value="${matakuliahEdit.id}">
			<tr>
				<td>Kode Matakuliah</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdMk"
					th:value="${matakuliahEdit.kdMk}"></td>
			</tr>
			<tr>
				<td>Nama Matakuliah</td>
				<td>:</td>
				<td><input type="text" size="25" name="nmMk"
					th:value="${matakuliahEdit.nmMk}"></td>
			</tr>
			<tr>
				<td>SKS</td>
				<td>:</td>
				<td><input type="text" size="25" name="sks"
					th:value="${matakuliahEdit.sks}"></td>
			</tr>
			<tr>
				<td>Kode Jurusan</td>
				<td>:</td>
				<td><select name="jurusanId">
						<option th:each="item:${listJurusan}" th:value="${item.id}"
							th:text="${item.kdJurusan}">Pilih Jurusan</option>
				</select></td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Submit">
					<input type="reset" value="Reset">
					<input type="submit" value="Cancel">
				</td>
			</tr>
		</table>
	</form>
</body>
</html>