<html>
<head>
<title>SA | Dosen</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
table {
	border: 1px solid black;
	padding: 20px
}

td, th {
	text-align: left;
}

h1 {
	text-align: center;
	text-decoration: underline;
}
</style>
</head>
<body>
	<h1>Sistem Akademik</h1>
	<form th:action="@{/dosen/simpanDosen}" method="post">
		<table>
			<h2>Edit Dosen</h2>
			<input type="hidden" name="id" th:value="${dosenEdit.id}">
			<tr>
				<td>Kode Dosen</td>
				<td>:</td>
				<td><input type="text" size="25" name="kdDosen"
					th:value="${dosenEdit.kdDosen}"></td>
			</tr>
			<tr>
				<td>Nama Dosen</td>
				<td>:</td>
				<td><input type="text" size="25" name="nmDosen"
					th:value="${dosenEdit.nmDosen}"></td>
			</tr>
			<tr>
				<td>Jenis Kelamin</td>
				<td>:</td>
				<td><select name="jk">
						<option>Laki-laki</option>
						<option>Perempuan</option>
				</select></td>
			</tr>
			<tr>
				<td>Alamat</td>
				<td>:</td>
				<td><textarea name="alamat" th:value="${dosenEdit.alamat}"></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"> <input
					type="reset" value="Reset"> <input type="submit"
					value="Cancel"></td>
			</tr>
		</table>
	</form>
</body>
</html>