<html>
<head>
<title>SA | Bobot Nilai</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
table {
	border: 1px solid black;
	padding: 20px
}

td, th {
	text-align: left;
}

h1 {
	text-align: center;
	text-decoration: underline;
}
</style>
</head>
<body>
	<h1>Sistem Akademik</h1>
	<form th:action="@{/bobotnilai/simpanBobot}" method="post">
		<table>
			<h2>Edit Bobot Nilai</h2>
			<input type="hidden" name="id" th:value="${bobotnilaiEdit.id}">
			<tr>
				<td>Nilai</td>
				<td>:</td>
				<td><input type="text" size="10" name="nilai"
					th:value="${bobotnilaiEdit.nilai}"></td>
			</tr>
			<tr>
				<td>Bobot Nilai</td>
				<td>:</td>
				<td><input type="text" size="10" name="bobotNilai"
					th:value="${bobotnilaiEdit.bobotNilai}"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Submit"> <input
					type="reset" value="Reset"> <input type="submit"
					value="Cancel"></td>
			</tr>
		</table>
	</form>
</body>
</html>